$navbar-width: 74px;
$navbar-width-expanded: 275px;
$navbar-separator-color: #000000;

$main-color: #FBBF24;
$main-color-2: #0051ff;
$secondary-color: #D1FAE5;
$highlight-color: #000000;
//$highlight-hover-color: #0051ff;
$highlight-hover-color: #000000;