@import "../../utils/Constants.scss";

$logo-icon-width: 44px;
$logo-width: 206px;

.navbar {
    background-color: $main-color;
    width: $navbar-width;
}

.navbar:hover {
    width: $navbar-width-expanded;

    .logo-container {
        width: 206px;
        transition: width 300ms ease-in;
    }
}

.item-container {
    height: calc(100vh - 5.5rem + 1px);
}

.logo-container {
    width: $logo-icon-width;
    margin-left: calc(($navbar-width - $logo-icon-width)/2);
}

.logo {
    display: block;
    max-height: 44px;
    max-width: 206px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: .3125rem;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: black;
}