.NavBar {
    background-color: #FBBF24;
}

.ItemContainer {
    height: calc(100vh - 5.5rem + 1px);
}

.fade-in {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 300ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: .3125rem;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: black;
}