@import "../../utils/Constants.scss";
@import "./Socials/Socials.scss";

$logo-icon-width: 56px;
$logo-width: 244px;
$logo-height: 44px;
$logo-margin-top: 20px;
$logo-margin-bottom: 20px;
$separator-margin: 14px;
$separator-height: 2px;
$item-container-margin-top: 20px;
$item-container-height: calc(100vh - $logo-height - $logo-margin-top - $logo-margin-bottom
                        - $item-container-margin-top - $socials-height - $socials-margin-top - $socials-margin-bottom
                        - $separator-height - $separator-height - 1px);

.navbar {
    background-color: $main-color;
    width: $navbar-width;

    .logo-container {
        width: $logo-icon-width;
        margin: $logo-margin-top 0 $logo-margin-bottom calc(($navbar-width - $logo-icon-width)/2);
    }
    
    .logo {
        display: block;
        max-height: $logo-height;
        max-width: $logo-width;
    }
    
    .separator {
        border-bottom: $separator-height solid $navbar-separator-color;
        border-radius: 8px; //FIXME: Leaving trail when navbar scrollbar active
        margin: 0 $separator-margin;
        width: calc($navbar-width - ($separator-margin * 2));
    }
    
    .item-container {
        height: $item-container-height;
        margin-top: $item-container-margin-top;
    }
    
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar {
        width: 2px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-color: $scrollbar-color;
    }
}

.navbar:hover {
    width: $navbar-width-expanded;

    .logo-container {
        width: $logo-width;
        transition: width 300ms ease-in;
    }

    .separator {
        width: calc($navbar-width-expanded - ($separator-margin * 2));
        transition: width 300ms ease-in;
    }
}

.navbar:not(:hover) {
    width: $navbar-width;
    transition-delay: 300ms;

    .logo-container {
        width: $logo-icon-width;
        transition: width 300ms ease-in;
    }

    .separator {
        transition: width 300ms ease-in;
    }
}